@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}
#sidebar{
    background-color: #ff4893;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
}

#main_content{
    background-color: #fff1e9;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 100vh;
    background-repeat: no-repeat;
}

#menu{
    list-style-type: none;
    color: #fff;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-left: 0;
}

#menu li{
    cursor: pointer;
    text-align: center;
    width: 100%;
}

#menu li:hover{
    color: #ff4893;
    background-color: #ffd5d5;
}

#menu i{
    margin: 4%;
}

#main_div{
    position: relative;
    height: 100vh;
    width: 80vw;
}

#main_div>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#main_div>div:nth-child(1){transform: translateY(0);}
#main_div>div:nth-child(2){transform: translateY(100%);}
#main_div>div:nth-child(3){transform: translateY(200%);}
#main_div>div:nth-child(4){transform: translateY(300%);}
#main_div>div:nth-child(5){transform: translateY(400%);}

#home{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
}
h1{
    color: #ff4893;
}
#intro{
    padding-left: 5%;
}

#intro h1{
    font-size: 4rem;
}

#intro p{
    font-size: 2rem;
    color: #45454d;
}

#home img{
    width: 100%;
    height: 100%;
}

.fa-chevron-right{
    display: none;
}

.social_media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_media a{
    color: #fff;
    background-color: #ff4893;
    margin: 4%;
    padding: 0.8rem;
    border-radius: 50%;
}

#aboutme{
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: center;
    align-items: center;
}


#aboutme p{
    font-size: 1.5rem;
    color:#45454d;
    line-height: 2.5rem;
}

#skills{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
#board{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#board>div{
    display: grid;
    grid-template-columns: 18% 60%;
}

.bar{
    width: 100%;
    height: 4vh;
    background-color: #ffd5d5;
    border-radius: 10px;
}

.skill{
    border-radius: 10px;
    height: 100%; 
    background-color: #ff4893;
    text-align:right;
    color: #fff;
    padding-right: 3%;
}

.skill_name{
    color: #45454d;
    line-height: 1.2em;
}

.html{width: 95%;}
.css{width:90%}
.js{width:60%}
.jquery{width:60%}
.react{width:30%}
.node{width:40%}
.mysql{width: 90%;}

#works{
    
}

#works h1{
    text-align: center;
}
.main_works{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    
    transition: 0.7s;
}

.main_project_div{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main_project>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_project>div:nth-child(1){transform: translateX(0);}
.main_project>div:nth-child(2){transform: translateX(100%);}
.main_project>div:nth-child(3){transform: translateX(200%);}

.dot_container{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    width: 100%;
}

.dot_container span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffd5d5;
    margin: 1%;
}

.project img,.project a{
   width: 100%;
   height: 100%;
}


.project h4{
    padding: 5% 0 5% 0;
    margin:0;
    width: 100%;
   text-align: center;
}

.project:nth-child(1) h4{color: rgba(0,0,0,0.4);background-color: #ff4893;}
.project:nth-child(2) h4{color: #048c59;background-color: #28df99;}
.project:nth-child(3) h4{color: #0b9ba1;background-color: #19d3da;}

#contact{
   
}

@media screen and (max-width:768px){
    #sidebar{
        left: -20%;
        z-index: 1;
        transition: 0.6s;
    }
    .fa-chevron-right{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff4893;
        color: #fff;
        padding: 5%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        z-index: 1;
    }
    #menu li>div:nth-child(2){
        display: none;
    }
    #main_content{
        left: 0;
        width: 100vw;
        transition: 0.6s;
        overflow: hidden;
    }
    #main_div>div{
       overflow: hidden;
    }
    #home{
        grid-template-columns: 100%;
        grid-template-rows:35% 50% 10%;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10%;
    }

    #home img{
        padding: 7%;
    }
    
    .social_media a{
        padding:4%;
    }
    #intro h1{
        font-size: 3rem;
    }
    #intro p{
        font-size: 1.5rem;
    }
    #main_div>#aboutme{
        width: 100vw;
        height: 100vh;
    }
    #aboutme{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap:4%;
        text-align: center;
        overflow: hidden;

    }
    #aboutme p{
        font-size: 1rem;
        line-height: 2.3rem;
        padding: 5%;
    }

    #board>div{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    #skills{
        padding-top: 5%;
    }

    .main_project_div{
        width: 90%;
        margin-top: 10%;
    }
}